__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
build/
dist/
*.egg-info
*.ipynb
.ipynb_checkpoints/
.env
.git/
.gitignore
*.md
README.md
QUICKSTART.md
API_README.md
# Exclude test and documentation files
test_api.py
quick_test.py
run.txt
# Keep the model files, class names, and CSV data
#food_predict_feature/best_model_food100.keras
#food_predict_feature/class_names.json
#workout_training_feature/body_parts_final.csv
